/*  your css code here. If applicable */
header {
	background-color : #011e29;
	color : white;
	height : 60px;
	margin : 1px;
	display : grid;
	text-align : center;
}
img {
	width : 150px;
}
.container {
	display : flex;
	justify-content : space-around;
	margin : 5px;
}
.pictorial-news-section {
	display : grid;
	align-items : center;
	justify-items : center;
	padding : 10px;
	background-color : white;
	gap : 10px;
	width : 20%;
	border-radius : 20px;
}
.mainart {
	display : flex;
	flex-direction : column;
	width : 40%;
	height : 250px;
	padding : 20px;
	background-color : white;
	align-items : center;
	border-radius : 20px;
}
.latest-news-section {
	width : 25%;
	padding : 10px;
	background-color : white; 
	border-radius : 20px;
}